* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

/* .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
} */

#myVideo {

  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@media (min-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}

.logo img{
  width: 2em;
  margin-right: 10px;
}

nav{
  background-color: #777;
}

 nav {
  width: 100%;
  position: absolute;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.logo {
  width: 3em;
  height: 3em;
  margin-top: 1em;
  margin-left: 0.5em;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav img {
  width: 2em;
}

nav button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

nav button img {
  width: 2.5em;
} */

.body_text {
  z-index: 1;
  text-align: center;
}

.body_text h1 {
  font-size: 120px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  margin-left: 30px;
}

.body_text a {
  font-size: 20px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  display: inline-block;
  margin-top: 10px;
}

.body_text h1:hover {
  -webkit-text-stroke: 3px white;
  color: transparent;
}

#h1_div {
  display: flex;
  justify-content: space-around;
}

/* -----------------------------------  Form Styling -----------------------------------------*/

#login_form {
  display: none;
}

.form_box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 2% auto;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  overflow: hidden;
}

.button_box {
  width: 220px;
  margin: 35px auto;
  position: relative  ;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle_btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #f3c693;
  border-radius: 30px;
  transition: 0.5s;
}

.input_group_login {
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5px;
}

.input_group_signup {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5px;
}

.input_field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit_btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #f3c693;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check_box {
  margin: 30px 10px 34px 0;
}

span {
  color: #777;
  font-size: 12px;
  bottom: 70px;
  position: absolute;
}

#login {
  left: 50px;
}

#login input {
  color: white;
  font-size: 15;
}

#signup {
  left: 450px;
}

#signup input {
  color: white;
  font-size: 15;
}

