<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="payment.css" />
  </head>
  <body>
    <div class="container_1">
      <form action="">
        <div class="row_1">
          <div class="col">
            <h3 class="title">billing address</h3>

            <div class="inputBox">
              <span>full name :</span>
              <input type="text" placeholder="john deo" />
            </div>
            <div class="inputBox">
              <span>email :</span>
              <input type="email" placeholder="example@example.com" />
            </div>
            <div class="inputBox">
              <span>address :</span>
              <input type="text" placeholder="room - street - locality" />
            </div>
            <div class="inputBox">
              <span>city :</span>
              <input type="text" placeholder="mumbai" />
            </div>

            <div class="flex">
              <div class="inputBox">
                <span>state :</span>
                <input type="text" placeholder="india" />
              </div>
              <div class="inputBox">
                <span>zip code :</span>
                <input type="text" placeholder="123 456" />
              </div>
            </div>
          </div>

          <div class="col">
            <h3 class="title">payment</h3>

            <div class="inputBox">
              <span>cards accepted :</span>
              <img src="Media/card_img.jpg" alt="r" />
            </div>
            <div class="inputBox">
              <span>name on card :</span>
              <input type="text" placeholder="mr. john deo" />
            </div>
            <div class="inputBox">
              <span>credit card number :</span>
              <input type="number" placeholder="1111-2222-3333-4444" />
            </div>
            <div class="inputBox">
              <span>exp month :</span>
              <input type="text" placeholder="january" />
            </div>
            <div class="flex">
              <div class="inputBox">
                <span>exp year :</span>
                <input type="number" placeholder="2022" />
              </div>
              <div class="inputBox">
                <span>CVV :</span>
                <input type="text" placeholder="1234" />
              </div>
            </div>
          </div>
        </div>

        <input type="submit" value="proceed to checkout" class="submit-btn" />
      </form>
    </div>

    <!-- <form name="paymentForm" ng-submit="submitPayment()">
  <label>Full Name:</label>
  <input type="text" name="fullName" ng-model="fullName" required>

  <label>Email:</label>
  <input type="email" name="email" ng-model="email" required>

  <label>Name on Card:</label>
  <input type="text" name="cardName" ng-model="cardName" required>

  <label>City:</label>
  <input type="text" name="city" ng-model="city" required>

  <label>Card Number:</label>
  <input type="text" name="cardNumber" ng-model="cardNumber" ng-pattern="/^[0-9]{16}$/" required>

  <label>Address:</label>
  <textarea name="address" ng-model="address" required></textarea>

  <label>Expiration Month:</label>
  <input type="text" name="expMonth" ng-model="expMonth" ng-pattern="/^0[1-9]|1[0-2]$/" required>

  <label>State:</label>
  <input type="text" name="state" ng-model="state" required>

  <label>Zipcode:</label>
  <input type="text" name="zip" ng-model="zip" ng-pattern="/^[0-9]{5}$/" required>

  <label>Expiration Year:</label>
  <input type="text" name="expYear" ng-model="expYear" ng-pattern="/^[0-9]{4}$/" required>

  <label>CVV:</label>
  <input type="text" name="cvv" ng-model="cvv" ng-pattern="/^[0-9]{3}$/" required>

  <button type="submit">Submit Payment</button>
</form> -->

    <!-- <script src="D:\Web Project\Travel Project\Responsive\paymenrs_js.js"></script> -->
  </body>
</html>
